.home-page {
  padding: 3rem;
  text-align: center;
}

.home-page h2 {
  font-size: 4rem;
  color: #4a90e2;
}

.home-page  h1{
  font-size: 3rem;
  margin-top: 1rem;
}

.home-page p{
  font-size: 1.8rem;
}